.card {
    height: 168px;
    width: $width-card;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    background-color: $color-primary;
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 44px 28px;

        &--text {
            margin-left: 1rem;
            h6 {
                font-size: 21px;
                line-height: 22px;
                color: $color-text;
                padding-bottom: 10px;
                margin: 0;
            }
        }
    }
}
