.content {
    background: $gradient-overlay-bg;
    position: relative;
    width: 100%;
    max-height: 785px;
    padding: 150px 0;
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 2rem calc((100vw - (1248px + 4rem)) / 2);
        justify-content: center;
        color: rgba(255, 255, 255, 0.55);
        &--item {
            padding: 0 10px;
            letter-spacing: 12;

            h1 {
                font-weight: 300;
                font-size: 64px;
                line-height: 100.5%;
                font-style: italic;
                // text-transform: uppercase;
            }

            h6 {
                font-weight: 600;
                font-size: 12px;
                line-height: 154.5%;
                letter-spacing: 0.8em;
                border-bottom: 1px solid rgba(255, 255, 255, 0.17);
                width: 59%;
                margin-bottom: 30px;
            }
        }
        &--hero {
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }
    }
    &__card {
        height: auto;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-top: -50px;
        z-index: 5;
    }
}

.box {
    height: 100%;
}

#spin:after {
    content: '';
    animation: spin 9s linear infinite;
}

@media (max-width: 1399.98px) {
    .content {
        &__container {
            max-width: 1200px;
            &--item {
                h1 {
                    font-size: 36px;
                }
            }
        }
        &__card {
            max-width: 1200px;
        }
    }
}

@media (max-width: 1199.98px) {
    .content {
        &__container {
            max-width: 1000px;
        }
    }
}

@media (max-width: 991.988px) {
    .content {
        &__container {
            max-width: 800px;
            &__card {
                max-width: 800px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .content {
        &__container {
            max-width: 600px;

            &--bottom {
                flex-direction: column;
                margin: 0 auto;
            }
        }
    }
}
