.course {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 $margin-content;
    &__text {
        display: flex;
        justify-content: space-between;

        &--box {
            display: flex;
            &--title {
                margin-left: 30px;
            }
        }
        &--nav ul {
            display: flex;
            align-items: flex-end;
            li {
                padding: 10px;
                list-style-type: none;
            }
            :hover {
                color: $gradient-overlay-bg;
            }
        }
    }

    &__content {
        display: flex;
        width: 100%;
        gap: 1rem;
    }
}
