.dicuss {
    display: flex;
    border: 1px solid rgb(205, 202, 202);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    &__content {
        margin-left: 20px;
        div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            Ol:nth-child(2) {
                margin-left: 100px;
            }
        }
    }
}
