.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $color-primary;
    background: $gradient-overlay-bg;
    padding: 0 $margin-content;
    margin-top: auto;
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--top {
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 90px 0;
            gap: 1rem;

            div {
                display: flex;
                // width: 300px;
                flex-direction: column;
                gap: 1rem;
                flex: 1;

                .ant-space {
                    flex-direction: row;
                }

                h6 {
                    font-size: 21px;
                }

                img {
                    width: 145px;
                    height: 45px;
                }
            }
        }

        &--bottom {
            display: flex;
            justify-content: space-between;
            padding: 28px 0;
            border-top: 1px solid #fff;

            div:nth-child(3) {
                display: flex;
                gap: 1rem;
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 1399.98px) {
    .footer {
        &__container {
            max-width: 1300px;
        }
    }
}

@media (max-width: 1199.98px) {
    .footer {
        &__container {
            max-width: 1100px;
        }
    }
}

@media (max-width: 991.988px) {
    .footer {
        &__container {
            max-width: 800px;
            &--top {
                padding: 10px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer {
        &__container {
            max-width: 700px;
            &--top {
                max-width: 600px;
            }
            &--bottom {
                flex-direction: column;
                margin: 0 auto;
                div {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .footer {
        &__container {
            max-width: 500px;
            &--top {
                max-width: 500px;
            }
        }
    }
}
