.forum {
    display: flex;
    padding-top: $height-header;
    background: $color-primary;
    flex-direction: column;
    height: 100%;
    &__overlay {
        display: flex;
        min-height: 400px;
        background: $gradient-overlay-bg;
        justify-content: center;
        padding: 2rem calc((100vw - (1248px + 4rem)) / 2);
        color: $color-primary;
        h5 {
            font-size: 32px;
        }

        &--left {
            flex-direction: column;
            width: 58.33333333%;
            flex-grow: 2;
            .ant-form-item-control-input-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;
                .ant-input {
                    background: transparent;
                    width: 448px;
                    height: 30px;
                }
            }
        }

        &--right {
            align-items: center;
            flex-grow: 1;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &__content {
        background: $color-primary;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem $margin-content;
        &--card {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;
        }
    }
}
