ol li:nth-child(2)::before {
    float: left;
    content: '/';
    color: $color-text-white;
    padding-right: 0.5rem;
}

ol li:nth-child(3)::before {
    float: left;
    content: '/';
    color: $color-text-white;
    padding-right: 0.5rem;
}
