@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,100;1,400;1,600;1,700&display=swap');
@import './utils/variable.scss';
@import './utils/keyframe.scss';
@import './components/header.scss';
@import './components/login.scss';
@import './components/content.scss';
@import './components/card.scss';
@import './components/courses.scss';
@import './components/course.scss';
@import './components/footer.scss';
@import './components/forum.scss';
@import './components/overlay.scss';
@import './components/discuss.scss';
@import './components/product.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: $color-primary;

    li {
        list-style-type: none;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li:hover {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: flex;
    height: 100%;
    background: #f8f6f0;
    flex-direction: column;
    flex-grow: 1;
}

.btn {
    display: flex;
    align-items: center;
    background: #5e3fd7;
    justify-content: center;
    border-radius: 4px;
    height: 40px;
    color: $color-primary;
    font-weight: 600;
}

.btn:hover {
    background: $color-primary;
    color: #5e3fd7;
}

.btn-view {
    background: $color-primary;
    color: #5e3fd7;
    border: 1px solid #5e3fd7;
}

.btn-view:hover {
    background: #5e3fd7;
    color: $color-primary;
}
