$color-primary: #fff;
$color-text-black: #082039;
$color-text-white: #f8f9ff;
$bg-button: #1979c7;
$gradient-overlay-bg: #264653;
$color-text: #040453;

// variable
$height-header: 100px;
$height-content: 800px;
$width-card: 416px;
$margin-content: calc((100vw - ($width-card * 3 + 2 * 2rem)) / 2);
$padding-content: calc(15rem - $height-header) 0;

$bs-gutter-x: 1.5rem;
