
$color-primary: #fff;
$color-text-black: #082039;
$color-text-white: #F8F9FF;
$bg-button:#1979C7;
$gradient-overlay-bg: #264653;
$color-text:#040453;



// variable
$height-header: 100px;
$height-content: 800px;
$width-card:416px;